* {
  box-sizing: border-box;
  appearance: none;
  padding: 0;
  margin: 0;
}

:root {
  color-scheme: light;
  font-size: clamp(12px, 2vw, 16px);
  font-size: 200%;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.125rem;
  min-height: 100vh;
  background-color: #eee;
  background-image: url(https://unsplash.com/photos/gOQMwGlYe2I/download?ixid=M3wxMjA3fDB8MXxzZWFyY2h8MTZ8fGRlc2VydCUyMHN1bnNldHxlbnwwfHx8fDE2ODYwMDI1MjV8MA&force=true);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 0.5rem;
  gap: 0.5rem;
}

.clock {
  padding: 0.5rem;
  width: 16rem;
  min-width: min-content;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}

.clock > * {
  grid-column: 1 / -1;
}

.clock .time {
  aspect-ratio: 1;
  background-color: white;
  border-radius: 0.5rem;
  border-block: 0.25rem solid #eee;
  overflow: hidden;
  box-shadow: 0 0 0.25rem #00000040;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "upper"
    "lower";
}

.clock .time-hours {
  grid-column: 1;
}

.clock .time-minutes {
  grid-column: 2;
}

.clock .time .half {
  /* background: rgb(32, 32, 32);
  background: linear-gradient(
    0deg,
    rgba(32, 32, 32, 0.5) 0%,
    rgba(255, 255, 255, 0) 100%
  ); */
  --box-halves-radii: 0.25rem;
  --box-shadow-blur: 0.5rem;
  box-shadow: inset 0 calc(-1 * var(--box-shadow-blur)) var(--box-shadow-blur)
      calc(-1 * var(--box-shadow-blur)) #30303080,
    inset 0 var(--box-shadow-blur) var(--box-shadow-blur)
      calc(-1 * var(--box-shadow-blur)) #ffffff80;
}

.clock .time .upper {
  border-top-left-radius: var(--box-halves-radii);
  border-top-right-radius: var(--box-halves-radii);
  grid-area: upper;
}

.clock .time .lower {
  border-bottom-left-radius: var(--box-halves-radii);
  border-bottom-right-radius: var(--box-halves-radii);
  grid-area: lower;
}

.clock .time .digits {
  grid-area: upper;
  grid-row: 1 / span 2;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: monospace;
  font-size: 5rem;
  font-weight: 300;
  padding-bottom: 0.0625ch;
  background-color: #222;
  color: transparent;
  --text-shadow-blur: 0.0625rem;
  --text-shadow-color-1: #ffffff80;
  --text-shadow-color-2: #ffffff80;
  text-shadow:
    /* 0 calc(-1 * var(--text-shadow-blur)) var(--text-shadow-blur) var(--text-shadow-color-1), */
    0 0 var(--text-shadow-blur) var(--text-shadow-color-2);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

.clock .temperature {
  background-color: #222;
  border-radius: 0.25rem;
  color: #eee;
  padding: 0.25rem 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  font-size: 0.675rem;
  line-height: 0.75rem;
  border: 1px solid #20202040;
  outline: 1px solid #e0e0e040;
  outline-offset: -2px;
  background: linear-gradient(
    0deg,
    rgba(32, 32, 32, 0.5) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  backdrop-filter: blur(2rem);
  text-shadow: 0 0 0.0625rem black;
  .left {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.125rem;
    .date {
      flex: 1;
    }
    .city {
      flex: 1.25;
      font-size: 1.25em;
      font-weight: 500;
    }
    .extra {
      flex: 1;
    }
  }
  .right {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 0.125rem;
    .temp-current {
      display: flex;
      align-items: center;
      flex: content;
      font-size: 2.25em;
      font-weight: 500;
    }
    .temp-range {
      flex: 1;
    }
  }
  .celsius::after {
    content: "°C";
    font-size: 0.5em;
    vertical-align: super;
  }
}